aadict==0.2.3
aniso8601==3.0.0
asset==0.6.12
astroid==1.6.2
attrs==17.4.0
autoenv==1.0.0
backcall==0.1.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==4.5.1
coveralls==1.3.0
decorator==4.3.0
docopt==0.6.2
flake8==3.5.0
flasgger==0.9.0
Flask==0.12.1
Flask-Cors==3.0.6
Flask-JWT-Extended==3.10.0
Flask-RESTful==0.3.5
Flask-Testing==0.7.1
Flask-WTF==0.14.2
globre==0.1.5
gunicorn==19.8.1
idna==2.7
ipython==6.4.0
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==0.24
jedi==0.12.0
Jinja2==2.10
jsonschema==2.6.0
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.8.3
nose==1.3.7
parso==0.2.1
passwordmeter==0.1.8
pep8==1.7.1
pickleshare==0.7.4
pipenv==11.9.0
pluggy==0.6.0
prompt-toolkit==1.0.15
psycopg2==2.7.5
py==1.5.2
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
PyJWT==1.6.4
pylint==1.8.3
pytest==3.0.7
python-dotenv==0.8.2
pytz==2018.4
PyYAML==3.12
requests==2.19.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.26.5
validate-email==1.3
virtualenv==15.2.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.2
